@model WebTaskManagerEfDb.ViewModels.Tasks.TasksListVM

@{
    ViewBag.Title = "Tasks";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create new tasks", "Edit", "TaskManagerController", new { @class = "btn btn-success" })
</p>


<table class="table table-hover">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.Items)
    {
        <tr>
            <td>
                @item.Title
            </td>
            <td>
                @item.Content
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }
</table>

<div>
    @Html.Partial("_PagingPartial", Model.Pager)
</div>